<div ng-controller="MainController as mainController">
    <div id="datetime">
        <h1 ng-bind="(mainController.date.raw | date: 'hh mm ss')"></h1>
        <h2 ng-bind="(mainController.date.raw | date: 'EEEE, MMMM yyyy')"></h2>
    </div>
    <div id="forecast">
        <ul class="row list-unstyled">
            <li ng-repeat="day in mainController.weather.forecast.forecastday" class="col-md-3">
                <div ng-class= "{today: $index == 0 }">
                    <img ng-src="{{ day.icon_url }}" />
                    <h3 ng-bind="day.high.fahrenheit"></h3>
                    <h4 ng-if="$index == 0">Now</h4>
                    <h4 ng-if="$index != 0" ng-bind="day.date.weekday"></h4>
                </div>
            </li>
        </ul>
    </div>
</div>